* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.voting {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emojiBlock {
  margin-right: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emojiBlock__img {
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.photo {
  width: 1000px;
  height: 600px;
}
