* {
  padding: 0;
  margin: 0;
}
.main-block {
  width: 100%;
  height: 600px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bdbdbd;
}
.navigation {
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  background-color: rgb(184, 179, 247);
}
.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.content-part {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7083a4;
}
.title-part {
  font-size: 60px;
  margin-bottom: 15px;
  color: #353841;
}
.description-part {
  width: 900px;
  font-size: 25px;
}
.navigation-item {
  list-style: none;
  font-size: 40px;
  margin-top: 30px;
  margin-left: 20px;
}
.navigation-item:hover {
  text-decoration: underline;
  font-weight: 600;
}
