@import url(./reset.css);

* {
  padding: 0;
  margin: 0;
}
.form__label {
  display: flex;
  flex-direction: column;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}
.app {
  position: relative;
  width: 1000px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
}
.app__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form__label {
  position: relative;
  margin-top: 25px;
}
.form__label:first-child {
  margin-top: 0;
}
.form__input {
  width: 250px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 3px;
}
.form__input:focus {
  border: 1px solid #2095d8;
  background-color: #fff;
}
.app__btn {
  width: 150px;
  height: 50px;
  background-color: rgb(175, 175, 175);
  color: #fff;
  font-size: 30px;
  font-family: monospace;
  border-radius: 5px;
  position: absolute;
  left: 425px;
  bottom: 20px;
  transition: all 0.3s ease-in-out;
}
.app__btn:hover {
  background-color: #fff;
  border: 1px solid rgb(175, 175, 175);
  color: rgb(175, 175, 175);
}
.errorMsg {
  color: red;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 0;
}
